/* all */
/* a {
  color: #be403b;
}

a.inherit-link {
  color: inherit !important;
  text-decoration: inherit !important;
}

pre {
  border: 1px solid #000000;
  font-family: Ubuntu, Roboto, Arial, Helvetica;
}

html {
  --mdc-typography-font-family: 'Open Sans', Roboto, Arial, Helvetica;
  --mdc-typography-headline1-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
  --mdc-typography-headline2-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
  --mdc-typography-headline3-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
  --mdc-typography-headline4-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
  --mdc-typography-headline5-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
  --mdc-typography-headline6-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
  --mdc-typography-button-font-family: 'Ubuntu', Roboto, Arial, Helvetica;
}

h1 {
  font-family: Ubuntu, Roboto, Arial, Helvetica;
}

h2 {
  font-family: Ubuntu, Roboto, Arial, Helvetica;
}

h3 {
  font-family: Ubuntu, Roboto, Arial, Helvetica;
}

h4 {
  font-family: Ubuntu, Roboto, Arial, Helvetica;
}

h5 {
  font-family: Ubuntu, Roboto, Arial, Helvetica;
}

h6 {
  font-family: Ubuntu, Roboto, Arial, Helvetica;
} */

/* card list */
div.card-list__hover-text {
  visibility: hidden;
}

a:hover div.card-list__hover-text {
  visibility: visible;
}

a div.card-list__header-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a.card-list-link h3 {
  color: #000000;
  padding: 0.2em;
  background-color: #ffffff;
}

.mdc-card--outlined {
  border-color: #000000;
}

/* post */
div.post h2.post-header {
  border-bottom: 1px solid #000000;
}

/* begin carbon ads stuff */

#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
  margin: auto;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  color: black !important;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
  margin: auto;
}

#carbonads .carbon-wrap {
  display: flex;
  color: black !important;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
  color: black !important;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}

/* end carbon ads stuff */