<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ block "nav" . }}
      {{ partial "nav.html" . }}
    {{ end }}
    <div id='main-content'>
      {{ block "header" . }}{{ end }}
      {{ block "main" . }}{{ end }}
      {{ partial "footer.html" . }}
      {{ block "footer" .}}
      {{ end }}
    </div>
  </body>
</html>