html {
    font-family: arial;
}

a {
    color: #bf3e38;
}

.content-section {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}