<nav class="flex items-center justify-between flex-wrap p-6">
    <div class="flex items-center flex-shrink-0 text-black mr-6">
        <a href="{{ .Site.BaseURL }}">
            <span class="font-semibold text-xl tracking-tight hover:text-hamred">
                {{ .Site.Title }}
            </span>
        </a>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
        {{ range .Site.Menus.main.ByWeight }}
            <a href="{{ .URL | relLangURL }}" class="block mt-4 lg:inline-block lg:mt-0 hover:text-hamred mr-4">
                {{ .Name }}
            </a>
        {{ end }}
        </div>
        <div>
        {{ if .Site.Params.callToAction }}
            <a href="{{ .Site.Params.callToAction.url | relLangURL }}"
                class="inline-block text-sm px-4 py-2 leading-none border text-black border-black hover:border-transparent hover:text-white hover:bg-black mt-4 lg:mt-0">
                {{ .Site.Params.callToAction.name }}
            </a>
        {{ end }}
        </div>
    </div>
</nav>
<div class="leading-10">&zwnj;</div>