{{ define "main" }}
<body>
    <div class="prose prose-sm sm:prose lg:prose-lg xl:prose-2xl mx-auto p-6">
        <h3>
            HAMY (Hamilton Greene - He / Him / His)
            <br />
            Creative Technologist / Entrepreneur
            <br />
            Built with code
        </h3>

        <div class="grid space-y-8 grid-cols-1">
            <div class="col-span-1 mt-4">
            </div>
            <a href="https://labs.hamy.xyz/projects/artificial-dreams/"
                class="no-prose-no-underline">
                <div
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    New Art: ARTIFICIAL_DREAMS
                </div>
            </a>
            <a href="https://cloudseed.xyz/"
                class="no-prose-no-underline">
                <div
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    New Biz: CloudSeed
                </div>
            </a>
            <a href="https://blog.hamy.xyz/posts/2022-h1-review/"
                class="no-prose-no-underline">
                <div
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    New Reflection: 2022 H1 Review
                </div>
            </a>
            <a href="https://blog.hamy.xyz"
                class="no-prose-no-underline">
                <div
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    Blog (Personal)
                </div>
            </a>
            <a href="https://labs.hamy.xyz"
                class="no-prose-no-underline">
                <div 
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    Labs (Projects)
                </div>
            </a>
        </div>
        <h3>
            Socials
        </h3>
        <div class="grid space-y-8 grid-cols-1">
            <div class="col-span-1 mt-4">
            </div>
            <a href="https://www.instagram.com/hamy.art/"
                class="no-prose-no-underline">
                <div 
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    Instagram: Art (@hamy.art)
                </div>
            </a>
            <a href="https://www.instagram.com/sir.hamy/"
                class="no-prose-no-underline">
                <div 
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    Instagram: Personal (@sir.hamy)
                </div>
            </a>
            <a href="https://www.instagram.com/sir.hamy/"
                class="no-prose-no-underline">
                <div 
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    Instagram: Biz (@hamy.labs)
                </div>
            </a>
            <a href="https://twitter.com/SIRHAMY"
                class="no-prose-no-underline">
                <div
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    Twitter (@SIRHAMY)
                </div>
            </a>
            <a href="https://www.youtube.com/channel/UCPBY44jxP7gOMkUsP5rlGnw"
                class="no-prose-no-underline">
                <div 
                    class="col-span-1 text-md mt-4 px-4 py-2 border text-black border-black hover:border-transparent hover:text-white hover:bg-black">
                    YouTube (HAMY LABS)
                </div>
            </a>
        </div>
    </div>
</body>
{{ end }}